###############################################################################
# mxdev development sources
-e ./sources/clms.addon --pre
-e ./sources/clms.types --pre
-e ./sources/clms.downloadtool --pre
-e ./sources/clms.statstool --pre
-e ./sources/eea.meeting --pre
-e ./sources/ftw.tokenauth --pre
-e ./sources/pas.plugins.oidc --pre


